html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  /* Add any additional styling for your main content area here */
}

.footer {
  height: 50px;
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: auto; /* Use auto to push the footer to the bottom */
}
